@{
    Layout = "_CourseLayout";
}
<h2>Các bước xử lý thông tin khóa học</h2>
<hr />
<h4>
    <ol>
        <li>Tạo mới khoá học => Xem chi tiết khoá học</li>
        <li>Tạo đợt học (Batch) => Nhập thông tin các buổi học (Session) => Điểm danh học viên (Attendance)</li>
        <li>Đăng ký học viên cho khoá học(Registration)</li>
        <li>Quản lý đánh giá học viên sau khoá học (Evaluation)</li>
    </ol>
</h4>